<!doctype html>
<html>
  <head>
    <title>Statements Generator</title>
  </head>
  <body>
    <h1 style="text-align: center">Using the Statements Generator</h1>
    <p>The "Production CSV" file should be downloaded directly from the relevant website. Modifying column names will likely break the statement generator.</p>
    <p>If NEPool data is being processed, the CSV should be downloaded from the "Individual Systems Production" panel at <a href=https://www.masscec-pts.com/#/reports/dashboard>https://www.masscec-pts.com/#/reports/dashboard</a>.</p>
    <p>If PJM data is being processed, the CSV should be downloaded from the Assets > Generation > My Solar Generation page at <a href=https://gats.pjm-eis.com/GATS2/AccountReports/AccountSolarGeneration/Filter>https://gats.pjm-eis.com/GATS2/AccountReports/AccountSolarGeneration/Filter</a>. You will additionally need to provide a CSV with location data on customers, which should be downloaded from the Assets > Assets > My Generator Details page at <a href=https://gats.pjm-eis.com/gats2/AccountReports/GeneratorDetails>https://gats.pjm-eis.com/gats2/AccountReports/GeneratorDetails</a>.</p>
    <p>The "Customer ID CSV" file should have a column with name "SystemID" consisting of system IDs for customers to generate statements for. If left blank, no filtering will be done. Other columns in the CSV file will be ignored.</p>
    <p style="text-align: center"><a href="/">Return</a></p>
  </body>
</html>